<% include partials/head %>
<div class="container">
    <form action="/login" method="post" class="formLogin">
        <h2>Login</h2>

        <% if (messages.length > 0) { %>
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
            <% for (var i in messages) { %>
                <span><%= messages[i] %></span>
            <% } %>
        </div>
        <% } %>

        <div>
            <label for="usuario" class="sr-only">Usuário</label>
            <input type="text" name="usuario" placeholder="Usuário" class="form-control"/>
        </div>

        <div>
            <label for="senha" class="sr-only">Senha:</label>
            <input type="password" name="senha" placeholder="Senha" class="form-control"/>
        </div>

        <input type="submit" value="Fazer Login" class="btn btn-lg btn-primary btn-block"/>
    </form>
</div>
<% include partials/foot %>
